# API Keys et tokens
PUBLIC_RECAPTCHA_KEY=6LfWZ7YfAAAAAPD7Q4zlI2TZU_mYatG48lJ97JzM
PUBLIC_MAPBOX_TOKEN=votre_token_mapbox_ici
PUBLIC_GTM_ID=GTM-KCM49LQ

# Configuration du site
PUBLIC_SITE_URL=https://www.osteopathie-animale-bordeaux.fr
